@{
  Layout = "_Layout";
}
<h1>Add a userProfile</h1>
<p>Add a userProfile here:</p>

<form action="/userProfiles" method="post">
  <label for="userProfileName">UserProfile name</label>
  <input id="userProfileName" name="userProfileName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/userProfiles">Back to userProfile.</a></p>