@{
  Layout = "_Layout";
}

<h1>Welcome to the Game Library!</h1>
<p>@Html.ActionLink("See all userProfiles", "Index", "UserProfiles")</p>
<p>@Html.ActionLink("Create a userProfile", "Add", "UserProfiles")</p>