@{
  Layout = "_Layout";
}

<h1>Welcome to the Game Library!</h1>
<p>@Html.ActionLink("See all Games", "Index", "Games")</p>
<p>@Html.ActionLink("Add a Game to the Library", "Create", "Games")</p>
<p>@Html.ActionLink("Search", "Search", "Games")</p>