@{
  Layout = "_Layout";
}
<h1>Add a user</h1>
<p>Add a user here:</p>

<form action="/users" method="post">
  <label for="userName">User name</label>
  <input id="userName" name="userName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/users">Back to user.</a></p>