@using GameInventory.Models;
@{
  Layout = "_Layout";
}

<h3>Here are all the games for this User:</h3>

<ol>
@foreach (Game game in @Model["games"])
{
  <li><a href='/users/@Model["user"].Id/games/@game.GameId'>@game.Title</a></li>
}
</ol>

<p><a href='/users/@Model["user"].Id/games/new'>Add a new game by this user</a></p>
<p><a href='/users'>Return to user list</a></p>
<p><a href='/'>Return to Main Page</a></p>