@{
  Layout = "_Layout";
}
<h1>Add a Game!</h1>
<p>Add a video game here:</p>

<form action="/games" method="post">
  <label for="gameTitle">Title</label>
  <input id="gameTitle" name="gameTitle" type="text">
    <label for="gameDescription">Description</label>
  <input id="gameDescription" name="gameDescription" type="text">
    <label for="gameReleaseDate">Release Date</label>
  <input id="gameReleaseDate" name="gameReleaseDate" type="text">
    <label for="gameGenre">Genre</label>
  <input id="gameGenre" name="gameGenre" type="text">
  <label for="gameTag">Tag</label>
    <input id="gameTag" name="gameTag" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/userProfiles">Back to userProfile.</a></p>